/Animated_Clock
/CONCERT_WEBSITE_SAMPLE
/CSS-Adjuster
/CSS-JS Hybrid Animation
/Check Internet Connection Status
/Contact Directory
/Contact us form
/ContactForm
/Convert
/Countdown-Timer
/Daily-Journal
/Debit Card
/Digital Marketing Landing Page
/DiskSchedulingAlgorithms
/Drawing pad
/Drop Down Menu
/Dynamic Quiz
/Event
/Eyes Moving
/FAQ_Section
/FRONTEND_COURSE_WEBSITE
/Fancy-Buttons
/Flipkart clone
/Flipping_Login_card
/Flying Bird Animation
/GERICHT
/Get Random Advice
/Gradient-generator
/Hover effect
/Landing_page
/Linguistic Academy
/Loading Screen
/Math4Kids
/Mathbot
/Maze Game
/Memory-game
/Metrics Calculator
/Mole in a Hole Game
/Multilevel dropdown
/Music-Store
/Myntra-Clone-main
/NASA Background Picker
/Name_Project
/Note_Pad
/OnlineMockTestSystem
/PDF Password Opener
/Password Generator
/Payment-Form
/Portfolio using HTML
/Profile Cards
/ProfileCardsWithSlider
/QR Code Scanner
/Quiz-app
/Quote-generator
/Random Color Flipper
/Random Number Gen_using local storage
/Random Quote Generator
/Random-color-Generator
/Random_Joke_Generator
/Responsive Bootstrap Website
/Review Cards
/Rock Paper Scissors
/Roll-the-Dice
/SHAPES
/Screen Recorder
/Scroll Two Div Parallel
/Scrollable Fixed Size Box
/Search Bar
/Simon Game
/Simple-list
/Skill Slider Frontend
/Slide out Gallery
/Socket IO Chat App
/Sorting_Visualizer
/Speed Typing Game
/Spotify
/Startup Landing Page
/TV-show Search app
/Text converter
/Text-Editor
/TextUtils
/TicTacToe
/Timer App
/TinDog Website [HTML + CSS + Bootstrap]
/To-do list Web App
/Tribute-Page
/VAT Calculator
/Weather App
/Windows11 Clone
/Wordle_Clone
/Youtube-Clone
/awesome_Social_icons
/ball game
/bgChanger
/calculator2
/car-animation
/countdown-timer
/css-1
/css-10
/css-11
/css-2
/css-3
/css-4
/css-5
/css-6
/css-7
/css-8
/css-9
/digital-clock
/digitalClock
/drum-kit
/drumkit
/dynamic-page
/e-commerce
/fluid-webpage
/gallery-website
/github_profile
/glassmorphism-calendar
/html
/jQuery
/javascript
/javascript eyes
/joke-generator
/jsPDF with Custom font
/landing-page
/loginPage
/mdown-editor
/mediabook
/myenv
/nft-preview-card-component
/notes
/palindrome site
/parallax-website
/php-1
/pomodoro_webapp
/rentMyDog Responsive website
/resume_builder
/search
/shortLink
/simple-todo
/simpleDarkmode
/snake game
/svg
/twitterLogoCssOnly
/watch-store
/webpage-using-api